@media only screen and (min-width: 35rem) {
nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button{
    width: auto;       
    display: inline-block;
    padding: 10px 18px;
    border-radius: 20px;
}

#info figure{
    margin: 10px;
}

main{
    display: flex;
    justify-content: center;
}

    
} /* end media query*/