/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root{
    font-family: 'Red Hat Display', sans-serif;
    --colorOne: #66A182;
    --colorTwo: #FF5964;
    --colorThree: #FEFADC;
    --colorFour: #9448BC;
    --textColor: #3581B8;
    background-color: var(--colorThree);
}

header h1{
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--textColor);
    padding: 0.8rem 2%;
}

div.form{
    margin: 0.8rem 4%;
    padding: 0.8rem 4%;
    background-color: var(--colorFour);
    border-radius: 20px;
    box-shadow: 7px 7px 7px #5d2c78;
}

div.form label{
    display: block;
    margin: .4rem 0;
}

div.form input{
    width: 60px;
}

div.form button{
    width: 100%;
    padding: .4rem 0;
    margin: 0.8rem 0;
    background: var(--colorTwo);
    background: linear-gradient(#FF5964, #9a2f36);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 18px;
    box-shadow: 5px 5px 5px #611d22;
    font-weight: 700;
    font-size: 1.2rem;
}

section{
    display: flex;
    flex: wrap;
}

section div{
    margin: 0.8rem 4%;
    flex-basis: 95%;
    background-color: var(--colorOne);
    border-radius: 0px 0px 10px 10px;
    color: white;
    box-shadow: 7px 7px 7px #447159;
}

section h2{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    padding: .4rem 0;
    background-color: var(--textColor);
    color: white;
}

section ul{
    list-style-type: circle;
}

footer{
    background-color: var(--colorTwo);
    padding: .8rem 2%;
    color: white;
    text-align: center;
}