/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header{
    display: flex;
    justify-content: center;
    padding: .5rem 2vw;
    align-items: center;
}

header h1{
    font-size: 1rem;
    padding-left: .5rem;
}

body{
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
}

main{
    margin: 1rem 2%;
}

section.about{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

section.about p{
    margin: 0;
}

section.ash{
    display: flex;
    background-color: #40E0D0;
    padding: .5rem;
}

section.ash p{
    margin: 0;
}

section.ash ul{
    margin: 0;
    padding: 0;
    background-color: #f7aec2;
    border-radius: 10px;
    padding: .5rem;
    list-style-position: inside;
    box-shadow: inset 0px 0px 10px white;
}

section.ash div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    width: 100%;
}

h2{
    font-size: 1rem;
}