@media only screen and (min-width: 35rem) {
    section#about h1{
    font-size: 4.2rem;
}

section#about h2{
    font-size: 3.2rem;
}

div.myProjects a{
    flex-basis: 50%;
}
    
} /* end media query*/