/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
:root{
    --colorOne: #9FFCDF;
    --colorTwo: #333333;
    --colorThree: #F6AE2D;
    --colorFour: #C64191;
    font-family:"Glegoo", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--colorFour);
}

header img{
    margin: 1rem;
}

header h1{
    text-align: center;
    color: white;
}
/*switching buttons*/

main.posterGrid #red{
    display: none;
}

main.posterGrid #green{
    display: block;
}

main.posterList #green{
    display: none;
}

main.posterList #red{
    display: block;
}

main.posterGrid .information{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;

}

main.posterList .information{
    display: grid;
    grid-template-columns: 1.5fr;
}

.posterGrid figure{
    margin: 1rem;
    padding: auto;
    width: 28rem;
    background-color: var(--colorOne);
    text-align: center;
    border: 4px solid var(--colorThree);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333333;
}

.posterGrid figure img{
    width: 26rem;
    height: 24rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.posterGrid figure h2{
    background-color: var(--colorThree);
    margin: auto;
    padding: 1rem;
    font-size: 1.7rem;
}

.posterGrid figure p{
    font-size: 1.3rem;
    color: var(--colorTwo);
    margin: aut;
    padding: 1rem;
}