@media only screen and (min-width: 60rem) {
    #data {
    display: flex;
    flex-wrap: wrap;
}
    #data figure {
    margin: 10px 2%;
    padding: 0;
    flex-basis: 29%;
}

#data figure figcaption{
    text-align: center;
    height: 1rem;
    margin-bottom: 20px;
    font-size: 20px;
}

#data figure h2{
    text-align: center;
    color: black;
    font-size: 30px;

}

h1{
    font-size: 40px;
}

button{
    font-size: 20px;
}


} /* end media query*/